<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 <suite thread-count="4" name="Suite"  parallel="true">
   
  
  <test name="Create Event in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Event"/>
    </classes>
  </test>
  
  <test name="Create Films  in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Films"/>
    </classes>
  </test>
  
  <test name="Create Occurrences in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Occurences"/>
    </classes>
  </test>
  
  <test name="Create Slideshows in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Slideshows"/>
    </classes>
  </test>
  
  <test name="Create Venues in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Venue"/>
    </classes>
  </test>
  
  <test name="Delete Event in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Delete_Event"/>
    </classes>
  </test>
  
  <test name="Delete Venue in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Delete_Venue"/>
    </classes>
  </test>
  
 <test name="Edit Event in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Edit_Event"/>
    </classes>
  </test>
  
  <test name="Edit Occurrence in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Edit_Occurence"/>
    </classes>
  </test>
  
  <test name="Edit Venue in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Edit_Venue"/>
    </classes>
  </test>
  
  <test name="Translate Event in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Translate_Event"/>
    </classes>
  </test>
  
  <test name="Translate Venue in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Translate_Venue"/>
    </classes>
  </test>
  
  <test name="ACL Test to verify Editor privileges" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_User"/>
    </classes>
  </test>
  
  <test name="Create Superlist in CMS" preserve-order="true">
    <classes>
      <class name="testCases_CMS.Create_Superlist"/>
    </classes>
  </test>
  
  <test name="Test SiteTagger for Pagebuilder Feature Pages" preserve-order="true">
    <classes>
      <class name="FunctionalTests.siteTagger_Pagebuilder_FeaturePages"/>
    </classes>
  </test>
  
  <test name="Test Offers for London" preserve-order="true">
    <classes>
      <class name="FunctionalTests.Verify_Offers"/>
    </classes>
  </test>
  
  <test name="Create Feature Pages for Pagebuilder" preserve-order="true">
    <classes>
      <class name="testCases_Pagebuilder.CreateFeaturePage"/>
    </classes>
  </test> 
  
  <test name="Create Hub Pages with Superlist" preserve-order="true">
    <classes>
      <class name="testCases_Pagebuilder.CreateHubPage_List"/>
    </classes>
  </test> 
   
  <test name="Verify Comments on Pagebuilder Feature Pages" preserve-order="true">
    <classes>
      <class name="FunctionalTests.verifyCommentsOnFeaturePages"/>
    </classes>
  </test>
  
 
  
</suite>
